<head>
        <link rel="stylesheet" href="todo_style.css">
</head>
<body>
        <div class="well">
          {% for p in posts %}
                    <h1><i>Title:</i>{{p.title}}</h1>
                    <h2><i>Author:</i>{{p.author}}</h2>
                    <h3><i>Text:</i>{{p.text}}</h3>
                    <h5><i>Comments:</i>
                    
              {% for c in comments %}
                <!-- <div class="panel panel-default"> -->
                    <!-- <div class="panel-body"> -->
                            <h6>{{c.text}}, {{c.author}}, {{c.written}}</h6>
                        </h5>  
                    <!-- <label class="text" for="text">{{post.text}}</label> <br /> -->
                    <!-- <label class="text" for="text">{{post.post.text}}</label> <br /> -->
                <!-- </div> -->
            {% endfor %}
            <!-- </div> -->
          {% endfor %}
        </div>
</body>  