{% extends 'base.html' %}

{% block body %}

<head>
        <link rel="stylesheet" href="todo_style.css">
</head>
<body>
    <div>
            <a href="/blog/add_blog" class="button" style="background-color:dodgerblue; color:white; ">Add Blog</a>
    </div>
        <div class="well">
          {% for p in posts %}
            <div style="border-style: inset; margin-top:15px;">
                    <div style="margin: 0; text-align: center;"><h2>{{p.title}}</h2></div>
                    <h6 align="right" style="color:darkslategrey"><i>by:</i>{{p.author}}</h6>
                    <h3 style="color:midnightblue">{{p.text}}</h3>
                    <h5> <b><i>Comments:</i></b>
                {% with p.comments.all as comments %}
                    {% for comment in comments %}
                            <div style="margin-left:20px;border-style: double;">
                                <p style="color:forestgreen; ">{{comment.author}}</p>
                                <p style="color:blue;">{{ comment.text }}        
                                <p style="color:firebrick">{{comment.written}}</p>
                            </div>
                        </p>
                    {% empty %}
                        <p style="color:grey">no comments yet</p>
                    {% endfor %}
                {% endwith %}
                </h5>
            </div>
          {% endfor %}
        </div>
</body>  

{% endblock %}