{% extends 'base.html' %}

{% block body %}

<head>
        <link rel="stylesheet" href="todo_style.css">
</head>
<body>
    <div>
            <a href="/blog/add_blog" class="button" style="background-color:dodgerblue; color:white; ">Add Blog</a>
    </div>
        <div class="well">
          {% for p in posts %}
                    <h1><i>Title:</i>{{p.title}}</h1>
                    <h2><i>Author:</i>{{p.author}}</h2>
                    <h3><i>Text:</i>{{p.text}}</h3>
                    <h5><i>Comments:</i>
                {% with p.comments.all as comments %}
                    {% for comment in comments %}
                        <p style="color:blue">{{ comment.text }}</p>
                    {% empty %}
                        <p style="color:grey">no comments yet</p>
                    {% endfor %}
                {% endwith %}
              {% for c in comments %}
                <!-- <div class="panel panel-default"> -->
                    <!-- <div class="panel-body"> -->
                            <h6>{{c.text}}, {{c.author}}, {{c.written}}</h6>
                        </h5>  
                    <!-- <label class="text" for="text">{{post.text}}</label> <br /> -->
                    <!-- <label class="text" for="text">{{post.post.text}}</label> <br /> -->
                <!-- </div> -->
            {% endfor %}
            <!-- </div> -->
          {% endfor %}
        </div>
</body>  

{% endblock %}