<div style="width:864px; margin: 0 auto;">
    <button style="background-color:dodgerblue; color:white;">Add Task</button> <hr/>
    <h1>Tasks in "List 1"</h1>  
    <hr/>      
        <table style="width:100%">
                <th> Task</th>
                <th> Created </th>
                <th> Due on</th>
                <th> Owner </th>
                <th> Mark </th>
            {% for todo in todo_list %}
                <tr>
                    <td> <a href="#">{{ todo.task }}</a><hr/></td>
                    <td>{{ todo.created }}<hr/></td>
                    <td>{{ todo.due_on }}<hr/></td>
                    <td>{{ todo.owner }}<hr/></td>
                    <td> <button style="background-color:dodgerblue; color:white;">{{ todo.mark }}</button><hr/></td>
                </tr>
            {% endfor %}
        </table>
    <br/>
    <button style="background-color:darkorange;">View completed tasks</button> 
    <button style="background-color:firebrick; color:white">Delete this list</button>
</div>
